@model CrediAdmin.ViewModels.EstadoEmpresa
<script type="text/javascript">
   

    $(function () {
        $('#EmpresaId').change(function () {
            $(this).closest('form').submit();
        });
        $('#anio').change(function () {
            $(this).closest('form').submit();
        });
        $('#mes').change(function () {
            $(this).closest('form').submit();
        });
    });

  

</script>

@{
    ViewBag.Title = "Index";
}

<h2>Estado Empresa</h2>


 @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline" }))
{
     <table>
        <tr>
          @*<td><div class="editor-label">Empresa</div></td>*@
          <td><div class="editor-label">Año </div></td>
          <td><div class="editor-label">Mes </div></td>
          </tr>

         <tr>
          @*<td><div class="editor-field">@Html.DropDownList("EmpresaId") </div></td>*@
          <td><div class="form-group">@Html.DropDownList("anio", null, String.Empty, htmlAttributes: new { @class = "form-control" })</div></td>
          <td><div class="form-group">@Html.DropDownList("mes", null, String.Empty, htmlAttributes: new { @class = "form-control" }) </div></td>
            <td> <input type="submit" value="Filtrar" name="" class="form-control btn btn-warning" /></td>
          </tr>
       
     </table>
 
}
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                Capital x Cobrar
            </th>
            <th>
                Interes x Cobrar
            </th>
            <th>
                Total x Cobrar
            </th>
            <th>
                Capital Total Recaudado
            </th>
            <th>
                Interes Total Recaudado
            </th>
            <th>
                Total en Caja
            </th>

        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.CapitalxCobrar)
            </td>
            <td>
                @Html.DisplayFor(model => model.InteresxCobrar)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalxCobrar)
            </td>

            <td>
                @Html.DisplayFor(model => model.CapitalTotalRecaudado)
            </td>
            <td>
                @Html.DisplayFor(model => model.InteresTotalRecaudado)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalEnCaja)
            </td>
        </tr>
    </table>
    </div>
    <div class="table-responsive">
        <p><br /></p>
        <h3>Socios</h3>
        <table class="table table-striped">
            <tr>
                <th>
                    Nit
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Total Aportes
                </th>
                <th>
                    Aportes por Periodo
                </th>
                <th>
                    Utilidad Recomendada
                </th>
                <th></th>
            </tr>




            @{
                decimal? totalaportes = 0;
                foreach (var item in Model.esocios)
                {
                    totalaportes = totalaportes + item.TotalAportes;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SocioNit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAportes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AportesxPeriodo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UtilidadRecomendada)
                        </td>
                        <!--  <td>
                              @Html.ActionLink("Edit", "Edit", new { id = item.EmpresaId }) |
                              @Html.ActionLink("Details", "Details", new { id = item.EmpresaId }) |
                              @Html.ActionLink("Delete", "Delete", new { id = item.EmpresaId })
                          </td>-->
                    </tr>
                }
                <tr><th>Total</th><td colspan="1"></td> <th>@String.Format("{0:C}", totalaportes)</th></tr>
            }
        </table>
    </div>