@model CrediAdmin.Models.retiro

@{
    ViewBag.Title = "Details";
}

<h2>Detalles Retiro</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.socio.Nombre)*@
            Socio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.socio.Nombre)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.conceptoretiro.Nombre)*@
            Concepto Retiro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conceptoretiro.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreadoPor)
        </dt>

        <dd>
            @CrediAdmin.Util.MiUtil.getNombreUsuario(0,Model.CreadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificadoPor)
        </dt>

        <dd>
            @CrediAdmin.Util.MiUtil.getNombreUsuario(0, Model.ModificadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

       

       

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = CrediAdmin.Util.MiUtil.encriptar(Model.RetiroId.ToString()) }) |
    @*@Html.ActionLink("Volver a la Lista", "Index")*@
    @Html.ActionLink("Volver a la Lista", "Index", new { socioId = CrediAdmin.Util.MiUtil.encriptar(ViewBag.idSocio) })
</p>
