@model IEnumerable<CrediAdmin.ViewModels.Cuotas>

<script type="text/javascript">
    $(document).ready(function () {
     //   $('#iniMes').datepicker();
     //   $('#finMes').datepicker();

    });
   
    $(function () {
        $('#iniMes').change(function () {
            $(this).closest('form').submit();
        });
        $('#finMes').change(function () {
            $(this).closest('form').submit();
        });

    });

    $(function () {
        $('tbody').append('<tr><th>Total</th><th colspan="9"></th><th colspan="6">@String.Format("{0:C}", ViewBag.totalAbonos)</th></tr>');
    });

</script>

@{
    ViewBag.Title = "Cuotas Pagadas";
}

<h2>Cuotas Pagadas en Totalidad</h2>
@{
    int registros = Model.ToList().Count;
    var grid = new WebGrid(Model, canPage: false, canSort: true, rowsPerPage: registros > 0 ? registros : 1);
    var c = ViewBag.controlador as string;
    using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group">
            @Html.Hidden("controlador", ViewBag.controlador as string)
            <label for="fecha" class="label_form_horizontal">Fecha inicial:</label>
            @Html.TextBox("iniMes", String.Format("{0:dd/MM/yyyy}", ViewBag.iniMes1 as string), new { @class = "form-control-fecha jqueryui-marker-datepicker" })
         </div>
    <div class="form-group">
        
        <label for="fecha" class="label_form_horizontal">Fecha final:</label>
        @Html.TextBox("finMes", String.Format("{0:dd/MM/yyyy}", ViewBag.finMes1 as string), new { @class = "form-control-fecha jqueryui-marker-datepicker" })
    </div>
    <div class="form-group">
        <label for="btn" class="control-label"></label>
        <input type="submit" value="Filtrar" class="form-control btn btn-warning" />

    </div>
            @Html.Hidden(grid.SortFieldName, grid.SortColumn);
            @Html.Hidden(grid.SortDirectionFieldName, grid.SortDirection == SortDirection.Ascending ? "ASC" : "DESC");
    <div class="table-responsive">
        @grid.GetHtml(tableStyle: "table table-striped", columns: grid.Columns(
        grid.Column("Ver Abonos",format: @<a href="@Url.Action("Index", "Abono", new { id = CrediAdmin.Util.MiUtil.encriptar(item.CuotaId.ToString()), controlador = ViewBag.controlador })"><img src="@Url.Content("~/Images/Lupa2.bmp")"  alt="15" width="15"/></a>),
        grid.Column("Nit", "Nit"),
                   grid.Column("Nombre", "Nombre"),
                                                                    grid.Column("CreditoNro", "CreditoNro"),
                                                                   grid.Column("Numero", "Cuota #"),
                                                                   grid.Column("Fecha", "Fecha Cuota", format: (item) => String.Format("{0:dd-MM-yyyy}", item.Fecha)),
                                                                                   grid.Column("AbonoCapital", "Abono Capital", format: (item) => String.Format("{0:C}", item.AbonoCapital)),
                                                                   grid.Column("AbonoInteres", "Abono Interes", format: (item) => String.Format("{0:C}", item.AbonoInteres)),
                                                                   grid.Column("TotalCuota", "Total Cuota", format: (item) => String.Format("{0:C}", item.TotalCuota)),
                                                                   grid.Column("FechaAbono", "Fecha Abono", format: (item) => String.Format("{0:dd-MM-yyyy}", item.FechaAbono)),
                                                                   grid.Column("Abonos", "Abonos", format: (item) => String.Format("{0:C}", item.Abonos))
                                                                            ))


    </div>





    }

}
