@*@model IEnumerable<CrediAdmin.Models.contacto>*@
@model PagedList.IPagedList<CrediAdmin.Models.contacto>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
}

<h2>Contactos</h2>


@using (Html.BeginForm("Index", "contacto", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="campos1" class="control-label">Filtro</label>
        @Html.DropDownList("campos1", null, String.Empty, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="filtro1" class="control-label">Criterio</label>
        @Html.TextBox("filtro1",  ViewBag.CurrentFilter as string, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Arch_Nombre" class="control-label"></label>
        <input type="submit" value="Filtrar" class="form-control btn btn-warning" />
    </div>
}
<br />

<p>
    <a href="@Url.Action("Create")"><img src="@Url.Content("~/Images/wznew.bmp")" alt="" /> @Html.ActionLink("Crear Nuevo", "Create")</a>
</p>
<table class="table table-striped">
    <tr>
        <th>
			@Html.ActionLink("ContactoId", "Index", new { sortOrder = ViewBag.SortContactoId, currentCampo = ViewBag.CurrentCampo, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.ContactoId)*@
        </th>
        <th>
			@Html.ActionLink("ConNombre", "Index", new { sortOrder = ViewBag.SortConNombre, currentCampo = ViewBag.CurrentCampo, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.ConNombre)*@
        </th>
        <th>
			@Html.ActionLink("ConTelefono", "Index", new { sortOrder = ViewBag.SortConTelefono, currentCampo = ViewBag.CurrentCampo, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.ConTelefono)*@
        </th>
        <th>
			@Html.ActionLink("ConEmail", "Index", new { sortOrder = ViewBag.SortConEmail, currentCampo = ViewBag.CurrentCampo, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.ConEmail)*@
        </th>
        <th>
			@Html.ActionLink("ConObserva", "Index", new { sortOrder = ViewBag.SortConObserva, currentCampo = ViewBag.CurrentCampo, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.ConObserva)*@
        </th>
        <th>
			@Html.ActionLink("Estado", "Index", new { sortOrder = ViewBag.SortEstado, currentCampo = ViewBag.CurrentCampo, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.Estado)*@
        </th>
       <th>Editar</th>
       <th>Detalles</th>
    </tr>
	
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContactoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConTelefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConObserva)
        </td>
		<td>
            @if (item.Estado==true)
            {
               <text>Activo</text>
            }
            else
            {
               <text>Inactivo</text>
            }
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=CrediAdmin.Util.MiUtil.encriptar(item.ContactoId.ToString()) }, new { @class = "btnEditar" }) 
		</td>
		<td>
            @Html.ActionLink("Detalles", "Details", new { id=CrediAdmin.Util.MiUtil.encriptar(item.ContactoId.ToString()) }, new { @class = "btnVerDetalles" }) 
          
        </td>
    </tr>
}

</table>

<br />
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentCampo = ViewBag.CurrentCampo, currentFilter = ViewBag.CurrentFilter }))

