@model CrediAdmin.Models.credito

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Credito</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimCuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimCuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InteresPrimCuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InteresPrimCuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapitalFinalCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapitalFinalCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreadoPor)
        </dt>

        <dd>
            @CrediAdmin.Util.MiUtil.getNombreUsuario(0,Model.CreadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificadoPor)
        </dt>

        <dd>
            @CrediAdmin.Util.MiUtil.getNombreUsuario(0, Model.ModificadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente.Nit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.Nit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipocuota.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipocuota.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.divisioncredito.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.divisioncredito.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
