@model CrediAdmin.Models.credito

@{
    ViewBag.Title = "Details";
}

<h2>Detalles Credito</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditoNro)
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditoNro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>

        <dd>
            @CrediAdmin.Util.MiUtil.getNombreUsuario(Model.UsuarioId,"")
            @*@Html.DisplayFor(model => model.UsuarioId)*@
        </dd>
@*
    <dt>
        @Html.DisplayNameFor(model => model.InteresPrimCuota)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.InteresPrimCuota)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CapitalFinalCredito)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CapitalFinalCredito)
    </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreadoPor)
        </dt>

        <dd>
           @CrediAdmin.Util.MiUtil.getNombreUsuario(0,Model.CreadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificadoPor)
        </dt>

        <dd>
            @CrediAdmin.Util.MiUtil.getNombreUsuario(0, Model.ModificadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>


        <dt>
            @*@Html.DisplayNameFor(model => model.tipocuota.Nombre)*@
            Tipo Cuota
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipocuota.Nombre)
        </dd>

        <dt>
            Periodicidad
            @*@Html.DisplayNameFor(model => model.divisioncredito.Nombre)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.divisioncredito.Nombre)
        </dd>

    </dl>

    <h3>Cuotas</h3>
    <table class=" table table-striped" id="tbl">
        <tr>
            <th>Cuota Nro</th>
            <th>Fecha</th>
            <th>Abono a Capital</th>
            <th>Abono a Intereses</th>
            <th>Saldo Capital</th>
            <th>Saldo Intereses</th>
            <th>Total Cuota</th>
            <th>Saldo</th>
        </tr>
        @{
            decimal? abonoCapital=0,abonoInteres=0, valorCuota = 0, sumaAbonoCapital = 0, sumaAbonoInteres = 0, sumaTotalCuota = 0;
            decimal? sumaSaldoCapital = 0, sumaSaldoInteres = 0, saldo = 0;
            foreach (var item in Model.cuota)
            {

                valorCuota =    (item.AbonoCapital == null ? 0 : item.AbonoCapital) +
                                (item.AbonoInteres == null ? 0 : item.AbonoInteres) +
                                (item.AjusteAbonoCapital == null ? 0 : item.AjusteAbonoCapital) +
                                (item.AjusteAbonoInteres == null ? 0 : item.AjusteAbonoInteres);

                abonoCapital = item.AbonoCapital + (item.AjusteAbonoCapital == null ? 0 : item.AjusteAbonoCapital);
                abonoInteres = item.AbonoInteres + (item.AjusteAbonoInteres == null ? 0 : item.AjusteAbonoInteres);

                sumaAbonoCapital = sumaAbonoCapital + abonoCapital;
                sumaAbonoInteres = sumaAbonoInteres + abonoInteres;
                sumaTotalCuota = sumaTotalCuota + valorCuota;
                sumaSaldoCapital = sumaSaldoCapital+item.SaldoCapital;
                sumaSaldoInteres = sumaSaldoInteres+item.SaldoInteres;
                saldo = Model.Valor - sumaAbonoCapital ;
                <tr>
                    <td>
                        @Html.DisplayFor(i => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Fecha)
                    </td>
                    <td>
                        @String.Format("{0:C}", abonoCapital)
                        @*Html.DisplayFor(i => abonoCapital)*@
                    </td>
                    <td>
                        @String.Format("{0:C}", abonoInteres)
                        @*Html.DisplayFor(i => abonoInteres)*@
                    </td>
                    <td>

                        @Html.DisplayFor(i => item.SaldoCapital)
                    </td>
                    <td>

                        @Html.DisplayFor(i => item.SaldoInteres)
                    </td>

                    <td>
                        @String.Format("{0:C}", valorCuota)
                    </td>
                    <td>
                        @String.Format("{0:C}", saldo)
                        @*Html.DisplayFor(i => item.Saldo)*@
                    </td>
                </tr>
            }
            <tr>
                <th>Total</th>
                <th></th>
                <th>@String.Format("{0:C}", sumaAbonoCapital)</th>
                <th>@String.Format("{0:C}", sumaAbonoInteres)</th>
                <th>@String.Format("{0:C}", sumaSaldoCapital)</th>
                <th>@String.Format("{0:C}", sumaSaldoInteres)</th>
                <th>@String.Format("{0:C}", sumaTotalCuota)</th>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = CrediAdmin.Util.MiUtil.encriptar(Model.CreditoId.ToString()) }) |
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
