@model CrediAdmin.Models.ParamCorreo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ParamCorreo</legend>

    <div class="display-label">Servidor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Servidor)
    </div>

    <div class="display-label">Puerto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Puerto)
    </div>

    <div class="display-label">Usuario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">Empresa</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Empresa.Nit)
    </div>

    <div class="display-label">Activo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activo)
    </div>

    <div class="display-label">CreadoPor</div>
    <div class="display-field">
        @CrediAdmin.Util.MiUtil.getNombreUsuario(0,Model.CreadoPor)
    </div>

    <div class="display-label">FechaCreacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCreacion)
    </div>

    <div class="display-label">ModificadoPor</div>
    <div class="display-field">
        @CrediAdmin.Util.MiUtil.getNombreUsuario(0, Model.ModificadoPor)
    </div>

    <div class="display-label">FechaModificacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaModificacion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
