@model IEnumerable<CrediAdmin.ViewModels.Cuotas>

<script type="text/javascript">
    $(document).ready(function () {
    
        $('#fecha').change(function () {
            $(this).closest('form').submit();
        });

        $('#UsuarioId').change(function () {
            $(this).closest('form').submit();
        });
    });

    
</script>

@{
    ViewBag.Title = "Cuotas x Cobrar";
}

<h2>Cuotas x Cobrar</h2>

    @using (Html.BeginForm("Index", "CuotasxCobrar", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="form-group">

            <label for="fecha" class="control-label">Cobrador</label>
            @if (ViewContext.HttpContext.User.IsInRole("Cobrador"))
            {
                @Html.DropDownList("UsuarioId", null, htmlAttributes: new { @class = "form-control" })
            }
            else
            {
                @Html.DropDownList("UsuarioId", null, String.Empty, htmlAttributes: new { @class = "form-control" })
            }



        </div>

        <div class="form-group">
            <label for="fecha" class="control-label">A la Fecha</label>
            @Html.TextBox("fecha", String.Format("{0:dd/MM/yyyy}", ViewBag.CurrentFilter as string), new { @class = "form-control jqueryui-marker-datepicker" })
        </div>
        @Html.Hidden("controlador", (string)ViewBag.controlador)
    }

<br />
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
			<th>Sel</th>
            <th>Abonar</th>

            <th>
                Nit
            </th>
            <th>
                Nombre
            </th>
            <th>
                Credito
            </th>
            <th>
                Cuota#
            </th>
            <th>
                FechaCuota
            </th>
            <th>
                AbonoCapital
            </th>
            <th>
                AbonoInteres
            </th>
            <th>
                Total
            </th>
            <th>
                Abonos
            </th>
            <th>
                Saldo
            </th>
            
        </tr>
        @{
            double saldoCuota = 0, sumaSaldos = 0;
            foreach (var item in Model)
            {
                saldoCuota = item.TotalCuota - item.Abonos;
                sumaSaldos = sumaSaldos + saldoCuota;
                <tr>
                    <td>
                        <a href="@Url.Action("Index", "Abono", new { id = CrediAdmin.Util.MiUtil.encriptar(item.CuotaId.ToString()), controlador = ViewBag.controlador })">Abonar</a>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditoNro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AbonoCapital)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AbonoInteres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCuota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abonos)
                    </td>
                    <td>
                        @String.Format("{0:C}", saldoCuota)
                    </td>
      
                </tr>
            }
            <tr>
                <th>Total</th>
                <th colspan="9"></th>
                <th>@String.Format("{0:C}", sumaSaldos)</th>
            </tr>
        }
    </table>
</div>