@model IEnumerable<CrediAdmin.ViewModels.Cuotas>

<script type="text/javascript">
    $(document).ready(function () {
    
        $('#fecha').change(function () {
            $(this).closest('form').submit();
        });

        $('#UsuarioId').change(function () {
            $(this).closest('form').submit();
        });
		
		$('#chktodos').change(function() {
			//alert("Todos");
			var status = this.checked; // "select all" checked status
			$('.check').each(function(){ //iterate all listed checkbox items
				this.checked = status; //change ".checkbox" checked status
			});
			calcUsage();
		});
		
		var $cbs = $('.check');
		function calcUsage() {
			var total = 0, totalCapital=0, totalInteres=0; //$("#more").val();
			$cbs.each(function() {
			    if ($(this).is(":checked")) {
			        //valorTotal = $(this).val().split(';')[0];
			        total = parseFloat(total) + parseFloat($(this).val().split(';')[0]);
			        totalCapital = parseFloat(totalCapital) + parseFloat($(this).val().split(';')[1]);
			        totalInteres = parseFloat(totalInteres) + parseFloat($(this).val().split(';')[2]);
			    }
			});
			$("#totalSaldos").text('$ ' + addCommas(total.toFixed(2)));
			$("#totalAbonoCapital").text('$ ' + addCommas(totalCapital.toFixed(2)));
			$("#totalAbonoInteres").text('$ ' + addCommas(totalInteres.toFixed(2)));
		}
		
		$cbs.click(function() {
			calcUsage();
		});
		
		function addCommas(nStr)
		{
			nStr += '';
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + ',' + '$2');
			}
			return x1 + x2;
		}

    });

    
</script>

@{
    ViewBag.Title = "Cuotas x Cobrar";
}

<h2>Cuotas x Cobrar</h2>

    @using (Html.BeginForm("Index", "CuotasxCobrar", FormMethod.Post, new { id="CxC", @class = "form-inline" }))
    {
        <div class="form-group">

            <label for="fecha" class="control-label">Cobrador</label>
            @if (ViewContext.HttpContext.User.IsInRole("Cobrador"))
            {
                @Html.DropDownList("UsuarioId", null, htmlAttributes: new { @class = "form-control" })
            }
            else
            {
                @Html.DropDownList("UsuarioId", null, String.Empty, htmlAttributes: new { @class = "form-control" })
            }



        </div>

        <div class="form-group">
            <label for="fecha" class="control-label">A la Fecha</label>
            @Html.TextBox("fecha", String.Format("{0:dd/MM/yyyy}", ViewBag.CurrentFilter as string), new { @class = "form-control jqueryui-marker-datepicker" })
        </div>
        @Html.Hidden("controlador", (string)ViewBag.controlador)
        

    }
<br />
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Sel <input type="checkbox" id="chktodos" name="chktodos" class="" checked /></th>
            <th>Abonar</th>
            <!--
            <th>
                Nit
            </th>
            -->
            <th>
                Nombre
            </th>
            <th>
                Credito
            </th>
            <th>
                Cuota#
            </th>
            <th>
                FechaCuota
            </th>
            <th>
                AbonoCapital
            </th>
            <th>
                AbonoInteres
            </th>
            <th>
                Total
            </th>
            <th>
                Abonos
            </th>
            <th>
                Saldo
            </th>

        </tr>
        @{
            decimal? saldoCuota = 0, sumaSaldos = 0, sumaCapital=0, sumaInteres=0;
            string valorChk = "";
            foreach (var item in Model)
            {
                saldoCuota = item.TotalCuota - item.Abonos;
                sumaCapital= sumaCapital+ item.AbonoCapital;
                sumaInteres= sumaInteres+ item.AbonoInteres;
                sumaSaldos = sumaSaldos + saldoCuota;
                valorChk = saldoCuota + ";" + item.AbonoCapital+";"+ item.AbonoInteres;
        <tr>

            <td>

                <input type="checkbox" name="chk@item.CuotaId" class="check" checked value="@valorChk" />
            </td>
            <td>
                <a href="@Url.Action("Create", "Abono", new { id = CrediAdmin.Util.MiUtil.encriptar(item.CuotaId.ToString()), controlador = ViewBag.controlador, fechaActual=ViewBag.CurrentFilter })">
                    <img src="@Url.Content("~/Images/egreso.bmp")" alt="" />
                </a>
                <!--<a href="@Url.Action("Index", "Abono", new { id = CrediAdmin.Util.MiUtil.encriptar(item.CuotaId.ToString()), controlador = ViewBag.controlador, fechaActual=ViewBag.CurrentFilter })">Abonar</a>
        <a href="@Url.Action("Create", "Abono", new { id = CrediAdmin.Util.MiUtil.encriptar(item.CuotaId.ToString()), controlador = ViewBag.controlador, fechaActual=ViewBag.CurrentFilter })">Abonar</a>-->

            </td>
            <!--
                <td>
                    @Html.DisplayFor(modelItem => item.Nit)
                </td>
            -->
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditoNro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)  / @Html.DisplayFor(modelItem => item.CantCuotas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbonoCapital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbonoInteres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abonos)
            </td>
            <td>
                @String.Format("{0:C}", saldoCuota)
            </td>

        </tr>
            }
            <tr>
                <th>Total</th>
                <th colspan="6"></th>
				<th>@String.Format("{0:C}", sumaCapital)</th>
				<th>@String.Format("{0:C}", sumaInteres)</th>
				<th colspan="1"></th>
                <th>@String.Format("{0:C}", sumaSaldos)</th>
            </tr>
			 <tr>
                <th colspan="2">Total Sel</th>
                <th colspan="5"></th>
                <th> <label id="totalAbonoCapital"> @String.Format("{0:C}", sumaCapital) </label></th>
                <th> <label id="totalAbonoInteres"> @String.Format("{0:C}", sumaInteres) </label></th>
                <th colspan="1"></th>
                <th> <label id="totalSaldos"> @String.Format("{0:C}", sumaSaldos) </label></th>
            </tr>
        }
    </table>
	
</div>
